table, th, td {
    border: 1px solid;
}

table {
    border-collapse: collapse;
}

td {
    width: 25px;
    height: 25px;
    text-align: center;
}

th {
    background-color: lightgrey;
}

.stateColumn {
    background-color: lightgrey;
    width: 10px;
}

td.seperatorColumn {
    width: 10px !important;
}

.card {
    margin-top: 10px;
} 